@media screen and (max-width: 600px){
    .main-stack{
        flex-direction: column;
        width: 100vw;
        gap: 1rem;
    }
    .coin-details-stack{
        width: 100% !important ;
        padding: 1rem !important;
        align-items: flex-start !important;
        border: none !important;
    }
    .stack-img{
        justify-content: flex-start !important;
    }
}