.crypto-card{
    width: 17.5rem;
    height: 17rem;
    background-color: rgba(160, 159, 159, 0.120);
    border-radius: .5rem;
    transition: all .3s ease-in-out;
}

.crypto-card:hover{
    transform: scale(1.1);
}


.crypto-header{
    padding: 1rem;
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rebeccapurple; */
    border-bottom: 1px solid grey;
}

.crypto-img{
    width: 20%;
}

.crypto-img img{
    width: 100%;
    object-fit: cover;
}


.crypto-details{
    width: 100%;
    height: 75%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.7rem;
}